In [1]:
from datasets import get_dataset_config_names

xtreme_subsets = get_dataset_config_names("xtreme")
len(xtreme_subsets), xtreme_subsets

/Users/nurma/vscode_projects/NLP/.venv/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

(183,
 ['MLQA.ar.ar',
  'MLQA.ar.de',
  'MLQA.ar.en',
  'MLQA.ar.es',
  'MLQA.ar.hi',
  'MLQA.ar.vi',
  'MLQA.ar.zh',
  'MLQA.de.ar',
  'MLQA.de.de',
  'MLQA.de.en',
  'MLQA.de.es',
  'MLQA.de.hi',
  'MLQA.de.vi',
  'MLQA.de.zh',
  'MLQA.en.ar',
  'MLQA.en.de',
  'MLQA.en.en',
  'MLQA.en.es',
  'MLQA.en.hi',
  'MLQA.en.vi',
  'MLQA.en.zh',
  'MLQA.es.ar',
  'MLQA.es.de',
  'MLQA.es.en',
  'MLQA.es.es',
  'MLQA.es.hi',
  'MLQA.es.vi',
  'MLQA.es.zh',
  'MLQA.hi.ar',
  'MLQA.hi.de',
  'MLQA.hi.en',
  'MLQA.hi.es',
  'MLQA.hi.hi',
  'MLQA.hi.vi',
  'MLQA.hi.zh',
  'MLQA.vi.ar',
  'MLQA.vi.de',
  'MLQA.vi.en',
  'MLQA.vi.es',
  'MLQA.vi.hi',
  'MLQA.vi.vi',
  'MLQA.vi.zh',
  'MLQA.zh.ar',
  'MLQA.zh.de',
  'MLQA.zh.en',
  'MLQA.zh.es',
  'MLQA.zh.hi',
  'MLQA.zh.vi',
  'MLQA.zh.zh',
  'PAN-X.af',
  'PAN-X.ar',
  'PAN-X.bg',
  'PAN-X.bn',
  'PAN-X.de',
  'PAN-X.el',
  'PAN-X.en',
  'PAN-X.es',
  'PAN-X.et',
  'PAN-X.eu',
  'PAN-X.fa',
  'PAN-X.fi',
  'PAN-X.fr',
  'PAN-X.he',
  'PAN-X.hi',
  'PAN-X.hu',
  'PAN-X.id',
  'PAN-X.it',
  'PAN-X.ja',
  'PAN-X.jv',
  'PAN-X.ka',
  'PAN-X.kk',
  'PAN-X.ko',
  'PAN-X.ml',
  'PAN-X.mr',
  'PAN-X.ms',
  'PAN-X.my',
  'PAN-X.nl',
  'PAN-X.pt',
  'PAN-X.ru',
  'PAN-X.sw',
  'PAN-X.ta',
  'PAN-X.te',
  'PAN-X.th',
  'PAN-X.tl',
  'PAN-X.tr',
  'PAN-X.ur',
  'PAN-X.vi',
  'PAN-X.yo',
  'PAN-X.zh',
  'PAWS-X.de',
  'PAWS-X.en',
  'PAWS-X.es',
  'PAWS-X.fr',
  'PAWS-X.ja',
  'PAWS-X.ko',
  'PAWS-X.zh',
  'SQuAD',
  'XNLI',
  'XQuAD.ar',
  'XQuAD.de',
  'XQuAD.el',
  'XQuAD.en',
  'XQuAD.es',
  'XQuAD.hi',
  'XQuAD.ru',
  'XQuAD.th',
  'XQuAD.tr',
  'XQuAD.vi',
  'XQuAD.zh',
  'bucc18.de',
  'bucc18.fr',
  'bucc18.ru',
  'bucc18.zh',
  'tatoeba.afr',
  'tatoeba.ara',
  'tatoeba.ben',
  'tatoeba.bul',
  'tatoeba.cmn',
  'tatoeba.deu',
  'tatoeba.ell',
  'tatoeba.est',
  'tatoeba.eus',
  'tatoeba.fin',
  'tatoeba.fra',
  'tatoeba.heb',
  'tatoeba.hin',
  'tatoeba.hun',
  'tatoeba.ind',
  'tatoeba.ita',
  'tatoeba.jav',
  'tatoeba.jpn',
  'tatoeba.kat',
  'tatoeba.kaz',
  'tatoeba.kor',
  'tatoeba.mal',
  'tatoeba.mar',
  'tatoeba.nld',
  'tatoeba.pes',
  'tatoeba.por',
  'tatoeba.rus',
  'tatoeba.spa',
  'tatoeba.swh',
  'tatoeba.tam',
  'tatoeba.tel',
  'tatoeba.tgl',
  'tatoeba.tha',
  'tatoeba.tur',
  'tatoeba.urd',
  'tatoeba.vie',
  'tydiqa',
  'udpos.Afrikaans',
  'udpos.Arabic',
  'udpos.Basque',
  'udpos.Bulgarian',
  'udpos.Chinese',
  'udpos.Dutch',
  'udpos.English',
  'udpos.Estonian',
  'udpos.Finnish',
  'udpos.French',
  'udpos.German',
  'udpos.Greek',
  'udpos.Hebrew',
  'udpos.Hindi',
  'udpos.Hungarian',
  'udpos.Indonesian',
  'udpos.Italian',
  'udpos.Japanese',
  'udpos.Kazakh',
  'udpos.Korean',
  'udpos.Marathi',
  'udpos.Persian',
  'udpos.Portuguese',
  'udpos.Russian',
  'udpos.Spanish',
  'udpos.Tagalog',
  'udpos.Tamil',
  'udpos.Telugu',
  'udpos.Thai',
  'udpos.Turkish',
  'udpos.Urdu',
  'udpos.Vietnamese',
  'udpos.Yoruba'])

In [2]:
panx_subsets = [i for i in xtreme_subsets if i.startswith("PAN") ]
panx_subsets

['PAN-X.af',
 'PAN-X.ar',
 'PAN-X.bg',
 'PAN-X.bn',
 'PAN-X.de',
 'PAN-X.el',
 'PAN-X.en',
 'PAN-X.es',
 'PAN-X.et',
 'PAN-X.eu',
 'PAN-X.fa',
 'PAN-X.fi',
 'PAN-X.fr',
 'PAN-X.he',
 'PAN-X.hi',
 'PAN-X.hu',
 'PAN-X.id',
 'PAN-X.it',
 'PAN-X.ja',
 'PAN-X.jv',
 'PAN-X.ka',
 'PAN-X.kk',
 'PAN-X.ko',
 'PAN-X.ml',
 'PAN-X.mr',
 'PAN-X.ms',
 'PAN-X.my',
 'PAN-X.nl',
 'PAN-X.pt',
 'PAN-X.ru',
 'PAN-X.sw',
 'PAN-X.ta',
 'PAN-X.te',
 'PAN-X.th',
 'PAN-X.tl',
 'PAN-X.tr',
 'PAN-X.ur',
 'PAN-X.vi',
 'PAN-X.yo',
 'PAN-X.zh']

In [3]:
[pan for pan in panx_subsets if pan[-2:] == "kk"]

['PAN-X.kk']

In [4]:
from datasets import load_dataset

panx_kk = load_dataset("xtreme", name="PAN-X.kk")
panx_kk

DatasetDict({
    train: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 1000
    })
    validation: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 1000
    })
    test: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 1000
    })
})

In [5]:
panx_kk["train"][:5]

{'tokens': [['АЙДАУ', 'Ауыр', 'атлетикадан', 'әлем', 'чемпионаты', '2013'],
  ['``', 'Қазақфильм', "''", 'киностудиясы', 'шығарған', '.'],
  ['ҚР', 'Сыртқы', 'істер', 'министрлігі'],
  ["'", "''", 'Ербаш', "''", "'", '—', 'Ресейдегі', 'өзен', '.'],
  ['Даг', 'Хаммаршельд', '(', 'посмертно', ')']],
 'ner_tags': [[0, 3, 4, 4, 4, 4],
  [0, 3, 0, 0, 0, 0],
  [3, 4, 4, 4],
  [0, 0, 0, 0, 0, 0, 5, 0, 0],
  [1, 2, 0, 0, 0]],
 'langs': [['kk', 'kk', 'kk', 'kk', 'kk', 'kk'],
  ['kk', 'kk', 'kk', 'kk', 'kk', 'kk'],
  ['kk', 'kk', 'kk', 'kk'],
  ['kk', 'kk', 'kk', 'kk', 'kk', 'kk', 'kk', 'kk', 'kk'],
  ['kk', 'kk', 'kk', 'kk', 'kk']]}

In [6]:
panx_ru = load_dataset("xtreme", name="PAN-X.ru")
panx_ru["train"][:5]

{'tokens': [['Илизаров', ',', 'Гавриил', 'Абрамович'],
  ["'", "''", 'Рыбницкий', 'район', "''", "'"],
  ['За',
   'образцовое',
   'выполнение',
   'заданий',
   'командования',
   'в',
   'боях',
   'с',
   'немецкими',
   'захватчиками',
   ',',
   'за',
   'овладение',
   'городом',
   'Демблин',
   'и',
   'проявленные',
   'при',
   'этом',
   'доблесть',
   'и',
   'мужество',
   '.'],
  ['Стадион', 'имени', 'С.', 'Дарюса', 'и', 'С.', 'Гиренаса'],
  ['Майкл', 'Томас', '(', '1987—1991', ')']],
 'ner_tags': [[1, 2, 2, 2],
  [0, 0, 5, 6, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0],
  [5, 6, 6, 6, 6, 6, 6],
  [1, 2, 0, 0, 0]],
 'langs': [['ru', 'ru', 'ru', 'ru'],
  ['ru', 'ru', 'ru', 'ru', 'ru', 'ru'],
  ['ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru',
   'ru'],
  ['ru', 'ru', 'ru', 'ru', 'ru', 'ru', 'ru'],
  ['ru', 'ru', 'ru', 'ru', 'ru']]}

In [7]:
panx_kk["train"][12]

{'tokens': ['Жак', 'Дерриданың', 'деконструкция', 'ілімі', ';'],
 'ner_tags': [1, 2, 0, 0, 0],
 'langs': ['kk', 'kk', 'kk', 'kk', 'kk']}

In [8]:
from collections import defaultdict
from datasets import DatasetDict

langs = ["de", "fr", "it", "en"]
fracs = [0.629, 0.229, 0.084, 0.059]
# Return a DatasetDict if a key doesn't exist
panx_ch = defaultdict(DatasetDict)

for lang, frac in zip(langs, fracs):
    # Load monolingual corpus
    ds = load_dataset("xtreme", name=f"PAN-X.{lang}")
    # Shuffle and downsample each split according to spoken proportion
    for split in ds:
        panx_ch[lang][split] = (
            ds[split]
            .shuffle(seed=0)
            .select(range(int(frac * ds[split].num_rows))))

In [9]:
for i in panx_kk:
    print(i)

train
validation
test

In [10]:
langs

['de', 'fr', 'it', 'en']

In [11]:
import pandas as pd

pd.DataFrame({lang: [panx_ch[lang]["train"].num_rows] for lang in langs}, index=["Number of training examples"])

                                de    fr    it    en
Number of training examples  12580  4580  1680  1180

In [12]:
panx_ch["en"]

DatasetDict({
    train: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 1180
    })
    validation: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 590
    })
    test: Dataset({
        features: ['tokens', 'ner_tags', 'langs'],
        num_rows: 590
    })
})

In [13]:

element = panx_ch["de"]["train"][0]
for key, value in element.items():
    print(f"{key}: {value}")

tokens: ['2.000', 'Einwohnern', 'an', 'der', 'Danziger', 'Bucht', 'in', 'der', 'polnischen', 'Woiwodschaft', 'Pommern', '.']
ner_tags: [0, 0, 0, 0, 5, 6, 0, 0, 5, 5, 6, 0]
langs: ['de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de']

In [14]:
for key, value in panx_ch["de"]["train"].features.items():
    print(f"{key}: {value}")

tokens: List(Value('string'))
ner_tags: List(ClassLabel(names=['O', 'B-PER', 'I-PER', 'B-ORG', 'I-ORG', 'B-LOC', 'I-LOC']))
langs: List(Value('string'))

In [15]:

tags = panx_ch["de"]["train"].features["ner_tags"].feature
print(tags)

ClassLabel(names=['O', 'B-PER', 'I-PER', 'B-ORG', 'I-ORG', 'B-LOC', 'I-LOC'])

In [16]:
def create_tag_names(batch):
    return {"ner_tags_str": [tags.int2str(idx) for idx in batch["ner_tags"]]}

panx_de = panx_ch["de"].map(create_tag_names)
panx_de

DatasetDict({
    train: Dataset({
        features: ['tokens', 'ner_tags', 'langs', 'ner_tags_str'],
        num_rows: 12580
    })
    validation: Dataset({
        features: ['tokens', 'ner_tags', 'langs', 'ner_tags_str'],
        num_rows: 6290
    })
    test: Dataset({
        features: ['tokens', 'ner_tags', 'langs', 'ner_tags_str'],
        num_rows: 6290
    })
})

In [17]:
for key, value in panx_de["train"][0].items():
    print(f"{key}: {value}")

tokens: ['2.000', 'Einwohnern', 'an', 'der', 'Danziger', 'Bucht', 'in', 'der', 'polnischen', 'Woiwodschaft', 'Pommern', '.']
ner_tags: [0, 0, 0, 0, 5, 6, 0, 0, 5, 5, 6, 0]
langs: ['de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de']
ner_tags_str: ['O', 'O', 'O', 'O', 'B-LOC', 'I-LOC', 'O', 'O', 'B-LOC', 'B-LOC', 'I-LOC', 'O']

In [18]:
panx_de["train"][0]["ner_tags"]

[0, 0, 0, 0, 5, 6, 0, 0, 5, 5, 6, 0]

In [19]:
tags_en = panx_ch["en"]["train"].features["ner_tags"].feature
print(tags_en)

ClassLabel(names=['O', 'B-PER', 'I-PER', 'B-ORG', 'I-ORG', 'B-LOC', 'I-LOC'])

In [20]:
def create_tag_names(batch):
    return {"ner_tags_str": [tags_en.int2str(idx) for idx in batch["ner_tags"]]}

panx_en = panx_ch["en"].map(create_tag_names)
panx_en

DatasetDict({
    train: Dataset({
        features: ['tokens', 'ner_tags', 'langs', 'ner_tags_str'],
        num_rows: 1180
    })
    validation: Dataset({
        features: ['tokens', 'ner_tags', 'langs', 'ner_tags_str'],
        num_rows: 590
    })
    test: Dataset({
        features: ['tokens', 'ner_tags', 'langs', 'ner_tags_str'],
        num_rows: 590
    })
})

In [21]:
for key, value in panx_en["train"][2].items():
    print(f"{key}: {value}")

tokens: ['Vaivara', 'concentration', 'camp', ',', 'Vaivara', '(', "''1943–1944", ',', 'during', 'German', 'occupation', "''", ')']
ner_tags: [5, 6, 6, 0, 5, 0, 0, 0, 0, 3, 4, 0, 0]
langs: ['en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en']
ner_tags_str: ['B-LOC', 'I-LOC', 'I-LOC', 'O', 'B-LOC', 'O', 'O', 'O', 'O', 'B-ORG', 'I-ORG', 'O', 'O']

In [22]:
de_example = panx_de["train"][0]
pd.DataFrame([de_example["tokens"], de_example["ner_tags_str"]],
['Tokens', 'Tags'])

,0,1,2,3,4,5,6,7,8,9,10,11
Tokens,2.000,Einwohnern,an,der,Danziger,Bucht,in,der,polnischen,Woiwodschaft,Pommern,.
Tags,O,O,O,O,B-LOC,I-LOC,O,O,B-LOC,B-LOC,I-LOC,O

In [23]:

from collections import Counter

split2freqs = defaultdict(Counter)
for split, dataset in panx_de.items():
    for row in dataset["ner_tags_str"]:
        for tag in row:
            if tag.startswith("B"):
                tag_type = tag.split("-")[1]
                split2freqs[split][tag_type] += 1
pd.DataFrame.from_dict(split2freqs, orient="index")

             LOC   ORG   PER
train       6186  5366  5810
validation  3172  2683  2893
test        3180  2573  3071

In [24]:
split2freqs

defaultdict(collections.Counter,
            {'train': Counter({'LOC': 6186, 'PER': 5810, 'ORG': 5366}),
             'validation': Counter({'LOC': 3172, 'PER': 2893, 'ORG': 2683}),
             'test': Counter({'LOC': 3180, 'PER': 3071, 'ORG': 2573})})

In [25]:
from transformers import AutoTokenizer

bert_model_name = "bert-base-cased"
xlmr_model_name = "xlm-roberta-base"
bert_tokenizer = AutoTokenizer.from_pretrained(bert_model_name)
xlmr_tokenizer = AutoTokenizer.from_pretrained(xlmr_model_name)

In [26]:
xlmr_tokenizer

XLMRobertaTokenizerFast(name_or_path='xlm-roberta-base', vocab_size=250002, model_max_length=512, is_fast=True, padding_side='right', truncation_side='right', special_tokens={'bos_token': '<s>', 'eos_token': '</s>', 'unk_token': '<unk>', 'sep_token': '</s>', 'pad_token': '<pad>', 'cls_token': '<s>', 'mask_token': '<mask>'}, clean_up_tokenization_spaces=False, added_tokens_decoder={
	0: AddedToken("<s>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	1: AddedToken("<pad>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	2: AddedToken("</s>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	3: AddedToken("<unk>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	250001: AddedToken("<mask>", rstrip=False, lstrip=True, single_word=False, normalized=False, special=True),
}
)

In [27]:
bert_tokenizer.special_tokens_map

{'unk_token': '[UNK]',
 'sep_token': '[SEP]',
 'pad_token': '[PAD]',
 'cls_token': '[CLS]',
 'mask_token': '[MASK]'}

In [28]:
xlmr_tokenizer.special_tokens_map

{'bos_token': '<s>',
 'eos_token': '</s>',
 'unk_token': '<unk>',
 'sep_token': '</s>',
 'pad_token': '<pad>',
 'cls_token': '<s>',
 'mask_token': '<mask>'}

In [29]:
text = "Jack Sparrow loves New York!"
bert_tokens = bert_tokenizer(text).tokens()
xlmr_tokens = xlmr_tokenizer(text).tokens()

In [30]:
bert_tokens

['[CLS]', 'Jack', 'Spa', '##rrow', 'loves', 'New', 'York', '!', '[SEP]']

In [31]:
xlmr_tokens

['<s>', '▁Jack', '▁Spar', 'row', '▁love', 's', '▁New', '▁York', '!', '</s>']

In [32]:
"".join(xlmr_tokens)

'<s>▁Jack▁Sparrow▁loves▁New▁York!</s>'

In [33]:
"".join(xlmr_tokens).replace(u"\u2581", " ")

'<s> Jack Sparrow loves New York!</s>'

In [34]:
"".join(bert_tokens)

'[CLS]JackSpa##rrowlovesNewYork![SEP]'

In [35]:
import torch.nn as nn
from transformers import XLMRobertaConfig
from transformers.modeling_outputs import TokenClassifierOutput
from transformers.models.roberta.modeling_roberta import RobertaModel
from transformers.models.roberta.modeling_roberta import RobertaPreTrainedModel

class XLMRobertaForTokenClassification(RobertaPreTrainedModel):
    config_class = XLMRobertaConfig

    def __init__(self, config):
        super().__init__(config)
        self.num_labels = config.num_labels
        # Load model body
        self.roberta = RobertaModel(config, add_pooling_layer=False)
        # Set up token classification head
        self.dropout = nn.Dropout(config.hidden_dropout_prob)
        self.classifier = nn.Linear(config.hidden_size, config.num_labels)
        # Load and initialize weights
        self.init_weights()

    def forward(self, input_ids=None, attention_mask=None, token_type_ids=None, 
                labels=None, **kwargs):
        # Use model body to get encoder representations
        outputs = self.roberta(input_ids, attention_mask=attention_mask,
                               token_type_ids=token_type_ids, **kwargs)
        # Apply classifier to encoder representation
        sequence_output = self.dropout(outputs[0])
        logits = self.classifier(sequence_output)
        # Calculate losses
        loss = None
        if labels is not None:
            loss_fct = nn.CrossEntropyLoss()
            loss = loss_fct(logits.view(-1, self.num_labels), labels.view(-1))
        # Return model output object
        return TokenClassifierOutput(loss=loss, logits=logits, 
                                     hidden_states=outputs.hidden_states, 
                                     attentions=outputs.attentions)

In [45]:
tags

ClassLabel(names=['O', 'B-PER', 'I-PER', 'B-ORG', 'I-ORG', 'B-LOC', 'I-LOC'])

In [46]:
tags.num_classes

7

In [39]:
index2tag = {idx: tag for idx, tag in enumerate(tags.names)}
tag2index = {tag: idx for idx, tag in enumerate(tags.names)}

In [48]:
from transformers import AutoConfig

xlmr_config = AutoConfig.from_pretrained(xlmr_model_name,
                                         num_labels=tags.num_classes,
                                         id2label=index2tag,
                                         label2id=tag2index)
xlmr_config

XLMRobertaConfig {
  "architectures": [
    "XLMRobertaForMaskedLM"
  ],
  "attention_probs_dropout_prob": 0.1,
  "bos_token_id": 0,
  "classifier_dropout": null,
  "eos_token_id": 2,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.1,
  "hidden_size": 768,
  "id2label": {
    "0": "O",
    "1": "B-PER",
    "2": "I-PER",
    "3": "B-ORG",
    "4": "I-ORG",
    "5": "B-LOC",
    "6": "I-LOC"
  },
  "initializer_range": 0.02,
  "intermediate_size": 3072,
  "label2id": {
    "B-LOC": 5,
    "B-ORG": 3,
    "B-PER": 1,
    "I-LOC": 6,
    "I-ORG": 4,
    "I-PER": 2,
    "O": 0
  },
  "layer_norm_eps": 1e-05,
  "max_position_embeddings": 514,
  "model_type": "xlm-roberta",
  "num_attention_heads": 12,
  "num_hidden_layers": 12,
  "output_past": true,
  "pad_token_id": 1,
  "position_embedding_type": "absolute",
  "transformers_version": "4.57.3",
  "type_vocab_size": 1,
  "use_cache": true,
  "vocab_size": 250002
}

In [56]:
import torch
device = "cuda" if torch.cuda.is_available() else "cpu"

xlmr_model1 = XLMRobertaForTokenClassification.from_pretrained(xlmr_model_name ,config=xlmr_config).to(device)
xlmr_model2 = XLMRobertaForTokenClassification(config=xlmr_config).to(device)

Some weights of XLMRobertaForTokenClassification were not initialized from the model checkpoint at xlm-roberta-base and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [57]:
input_ids = xlmr_tokenizer.encode(text, return_tensors="pt")

pd.DataFrame([xlmr_tokens, input_ids[0].numpy()], index=["Tokens", "Input IDs"])

             0      1      2    3      4   5      6      7  8     9
Tokens     <s>  ▁Jack  ▁Spar  row  ▁love   s   ▁New  ▁York  !  </s>
Input IDs    0  33600     31  759   9351  83  10772   6614  2  None

In [59]:
input_ids

tensor([[    0, 33600,    31,   759,  9351,    83, 10772,  6614,     2]])

In [70]:
xlmr_tokenizer(text).tokens()

['<s>', '▁hell', 'o', '▁my', '▁name', '▁is', '▁Nur', 'eke', '</s>']

In [64]:
outputs = xlmr_model1(input_ids).logits
outputs

tensor([[[ 0.1466,  0.4846,  0.1115,  0.3251, -0.5045, -0.4904,  0.3245],
         [ 0.5245,  0.4037,  0.1426,  0.0698, -0.4307, -0.6167,  0.4906],
         [ 0.3921,  0.2743,  0.1126,  0.0619, -0.4907, -0.5963,  0.5037],
         [ 0.4164,  0.3172, -0.0015,  0.0689, -0.4784, -0.7190,  0.5588],
         [ 0.6306,  0.2780,  0.0258, -0.1220, -0.5544, -0.7714,  0.5167],
         [ 0.5327,  0.3673,  0.1324,  0.0812, -0.4019, -0.6561,  0.5613],
         [ 0.4875,  0.5378,  0.0384,  0.0053, -0.5715, -0.6755,  0.5913],
         [ 0.4636,  0.4627,  0.0776,  0.0422, -0.5724, -0.5671,  0.5677],
         [ 0.1226,  0.4804,  0.1285,  0.3237, -0.5565, -0.4965,  0.3136]]],
       grad_fn=<ViewBackward0>)

In [65]:
predictions = outputs.argmax(-1)
predictions

tensor([[1, 0, 6, 6, 0, 6, 6, 6, 1]])

In [66]:
print(f"Number of tokens in sequence: {len(xlmr_tokens)}")
print(f"Shape of outputs: {outputs.shape}")

Number of tokens in sequence: 10
Shape of outputs: torch.Size([1, 9, 7])

In [67]:
tags.names

['O', 'B-PER', 'I-PER', 'B-ORG', 'I-ORG', 'B-LOC', 'I-LOC']

In [68]:
preds = [tags.names[p] for p in predictions[0].cpu().numpy()]
preds

['B-PER', 'O', 'I-LOC', 'I-LOC', 'O', 'I-LOC', 'I-LOC', 'I-LOC', 'B-PER']

In [69]:
pd.DataFrame([xlmr_tokens, preds], index=["Tokens", "Tags"])

            0      1      2      3      4      5      6      7      8     9
Tokens    <s>  ▁Jack  ▁Spar    row  ▁love      s   ▁New  ▁York      !  </s>
Tags    B-PER      O  I-LOC  I-LOC      O  I-LOC  I-LOC  I-LOC  B-PER  None

In [71]:
def tag_text(text, tags, model,tokenizer):
    tokens = tokenizer(text).tokens()
    input_ids = xlmr_tokenizer(text, return_tensors="pt").input_ids.to(device)
    outputs = model(input_ids)[0]
    predictions = outputs.argmax(-1)
    preds = [tags.names[p] for p in predictions[0].cpu().numpy()]
    return pd.DataFrame([xlmr_tokens, preds], index=["Tokens", "Tags"])

In [80]:
for key, value in de_example.items():
    print(f"{key}: {value}")

tokens: ['2.000', 'Einwohnern', 'an', 'der', 'Danziger', 'Bucht', 'in', 'der', 'polnischen', 'Woiwodschaft', 'Pommern', '.']
ner_tags: [0, 0, 0, 0, 5, 6, 0, 0, 5, 5, 6, 0]
langs: ['de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de', 'de']
ner_tags_str: ['O', 'O', 'O', 'O', 'B-LOC', 'I-LOC', 'O', 'O', 'B-LOC', 'B-LOC', 'I-LOC', 'O']

In [78]:
words = de_example["tokens"]
labels = de_example["ner_tags"]
words, labels

(['2.000',
  'Einwohnern',
  'an',
  'der',
  'Danziger',
  'Bucht',
  'in',
  'der',
  'polnischen',
  'Woiwodschaft',
  'Pommern',
  '.'],
 [0, 0, 0, 0, 5, 6, 0, 0, 5, 5, 6, 0])

In [ ]:
tokenized_input = xlmr_tokenizer(words, is_split_into_words=True)
tokenized_input

{'input_ids': [0, 70101, 176581, 19, 142, 122, 2290, 708, 1505, 18363, 18, 23, 122, 127474, 15439, 13787, 14, 15263, 18917, 663, 6947, 19, 6, 5, 2], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [86]:
tokens = xlmr_tokenizer.convert_ids_to_tokens(tokenized_input["input_ids"])
pd.DataFrame([tokens],index=["Tokens"])

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
Tokens,<s>,▁2.000,▁Einwohner,n,▁an,▁der,▁Dan,zi,ger,▁Buch,...,▁Wo,i,wod,schaft,▁Po,mmer,n,▁,.,</s>

In [88]:
type(tokenized_input)

transformers.tokenization_utils_base.BatchEncoding

In [90]:

pd.DataFrame([tokens,tokenized_input.word_ids()],index=["Tokens","Word ids"])

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
Tokens,<s>,▁2.000,▁Einwohner,n,▁an,▁der,▁Dan,zi,ger,▁Buch,...,▁Wo,i,wod,schaft,▁Po,mmer,n,▁,.,</s>
Word ids,None,0,1,1,2,3,4,4,4,5,...,9,9,9,9,10,10,10,11,11,None

In [92]:
labels

[0, 0, 0, 0, 5, 6, 0, 0, 5, 5, 6, 0]

In [93]:
previous_word_idx = None
label_ids = []

for word_idx in tokenized_input.word_ids():
    if word_idx is None or word_idx == previous_word_idx:
        label_ids.append(-100)
    elif word_idx != previous_word_idx:
        label_ids.append(labels[word_idx])
    previous_word_idx = word_idx

label_ids

[-100,
 0,
 0,
 -100,
 0,
 0,
 5,
 -100,
 -100,
 6,
 -100,
 0,
 0,
 5,
 -100,
 5,
 -100,
 -100,
 -100,
 6,
 -100,
 -100,
 0,
 -100,
 -100]

In [96]:
labels = [index2tag[l] if l != -100 else "IGN" for l in label_ids]
labels

['IGN',
 'O',
 'O',
 'IGN',
 'O',
 'O',
 'B-LOC',
 'IGN',
 'IGN',
 'I-LOC',
 'IGN',
 'O',
 'O',
 'B-LOC',
 'IGN',
 'B-LOC',
 'IGN',
 'IGN',
 'IGN',
 'I-LOC',
 'IGN',
 'IGN',
 'O',
 'IGN',
 'IGN']

In [97]:
index = ["Tokens", "Word IDs", "Label IDs", "Labels"]

word_ids = tokenized_input.word_ids()

pd.DataFrame([tokens, word_ids, label_ids, labels], index=index)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
Tokens,<s>,▁2.000,▁Einwohner,n,▁an,▁der,▁Dan,zi,ger,▁Buch,...,▁Wo,i,wod,schaft,▁Po,mmer,n,▁,.,</s>
Word IDs,None,0,1,1,2,3,4,4,4,5,...,9,9,9,9,10,10,10,11,11,None
Label IDs,-100,0,0,-100,0,0,5,-100,-100,6,...,5,-100,-100,-100,6,-100,-100,0,-100,-100
Labels,IGN,O,O,IGN,O,O,B-LOC,IGN,IGN,I-LOC,...,B-LOC,IGN,IGN,IGN,I-LOC,IGN,IGN,O,IGN,IGN

In [143]:
from datasets.arrow_dataset import Dataset

def tokenize_and_align_labels(examples: Dataset):
    tokenized_input = xlmr_tokenizer(examples["tokens"], is_split_into_words=True, truncation=True)
    labels = []
    for idx, label_row in enumerate(examples["ner_tags"]):
        word_ids = tokenized_input.word_ids(batch_index=idx)

        previous_word_idx = None
        label_ids = []

        for word_idx in word_ids:
            if word_idx is None or word_idx == previous_word_idx:
                label_ids.append(-100)
            elif word_idx != previous_word_idx:
                label_ids.append(label_row[word_idx])
            previous_word_idx = word_idx
        labels.append(label_ids)
    tokenized_input["labels"] = labels
    return tokenized_input

In [145]:
def encode_panx_dataset(corpus):
    return corpus.map(tokenize_and_align_labels, batched=True, 
                      remove_columns=['langs', 'ner_tags', 'tokens'])
     
panx_en_encoded = encode_panx_dataset(panx_ch["en"])
panx_en_encoded

DatasetDict({
    train: Dataset({
        features: ['input_ids', 'attention_mask', 'labels'],
        num_rows: 1180
    })
    validation: Dataset({
        features: ['input_ids', 'attention_mask', 'labels'],
        num_rows: 590
    })
    test: Dataset({
        features: ['input_ids', 'attention_mask', 'labels'],
        num_rows: 590
    })
})

In [147]:
panx_en_encoded["train"][0]

{'input_ids': [0, 242, 5106, 90915, 54012, 425, 5106, 242, 2],
 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1],
 'labels': [-100, 0, 0, 3, 4, -100, 0, 0, -100]}

In [136]:
panx_en

DatasetDict({
    train: Dataset({
        features: ['tokens', 'ner_tags', 'langs', 'ner_tags_str'],
        num_rows: 1180
    })
    validation: Dataset({
        features: ['tokens', 'ner_tags', 'langs', 'ner_tags_str'],
        num_rows: 590
    })
    test: Dataset({
        features: ['tokens', 'ner_tags', 'langs', 'ner_tags_str'],
        num_rows: 590
    })
})

In [140]:
panx_ch["de"]["train"]["ner_tags"]

Column([[0, 0, 0, 0, 5, 6, 0, 0, 5, 5, 6, 0], [0, 0, 0, 3, 0, 0, 0, 3, 4, 0, 0], [0, 0, 0, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0], [0, 0, 3, 4, 0, 0], [0, 1, 2, 2, 2]])

In [108]:
type(panx_ch["de"]["train"])

datasets.arrow_dataset.Dataset

In [129]:
tokenized_input = xlmr_tokenizer(panx_de["train"]["tokens"][0], is_split_into_words=True)
tokenized_input

{'input_ids': [0, 70101, 176581, 19, 142, 122, 2290, 708, 1505, 18363, 18, 23, 122, 127474, 15439, 13787, 14, 15263, 18917, 663, 6947, 19, 6, 5, 2], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [121]:
index2tag

{0: 'O',
 1: 'B-PER',
 2: 'I-PER',
 3: 'B-ORG',
 4: 'I-ORG',
 5: 'B-LOC',
 6: 'I-LOC'}

In [124]:
xlmr_tokenizer.convert_ids_to_tokens(tokenized_input["input_ids"])

['<s>',
 '▁2.000',
 '▁Einwohner',
 'n',
 '▁an',
 '▁der',
 '▁Dan',
 'zi',
 'ger',
 '▁Buch',
 't',
 '▁in',
 '▁der',
 '▁polni',
 'schen',
 '▁Wo',
 'i',
 'wod',
 'schaft',
 '▁Po',
 'mmer',
 'n',
 '▁',
 '.',
 '</s>']

In [ ]:
tokenized_input["input_ids"]

[0,
 70101,
 176581,
 19,
 142,
 122,
 2290,
 708,
 1505,
 18363,
 18,
 23,
 122,
 127474,
 15439,
 13787,
 14,
 15263,
 18917,
 663,
 6947,
 19,
 6,
 5,
 2]

In [112]:
panx_de["train"]["tokens"]

Column([['2.000', 'Einwohnern', 'an', 'der', 'Danziger', 'Bucht', 'in', 'der', 'polnischen', 'Woiwodschaft', 'Pommern', '.'], ['Sie', 'geht', 'hinter', 'Walluf', 'nahtlos', 'in', 'die', 'Bundesautobahn', '66', 'über', '.'], ['Dirigenten', 'von', 'Weltruf', 'wie', 'Wilhelm', 'Furtwängler', ',', 'Erich', 'Kleiber', ',', 'Wolfgang', 'Sawallisch', ',', 'Karl', 'Böhm', ',', 'Herbert', 'von', 'Karajan', ',', 'Rafael', 'Kubelík', ',', 'Erich', 'Kleiber', ',', 'Bernard', 'Haitink', ',', 'Josef', 'Krips', ',', 'Zubin', 'Mehta', ',', 'Dimitri', 'Mitropoulos', ',', 'Antal', 'Doráti', ',', 'Sergiu', 'Celibidache', 'und', 'andere', 'haben', 'seine', 'Werke', 'dirigiert', ',', 'zuletzt', 'besonders', 'Horst', 'Stein', '.'], ["'", "''", 'Stade', 'Reims', "''", "'"], ['2011', 'David', 'J.', 'P.', 'Barker']])

In [114]:
panx_ch["de"]["train"]["tokens"][0]

['2.000',
 'Einwohnern',
 'an',
 'der',
 'Danziger',
 'Bucht',
 'in',
 'der',
 'polnischen',
 'Woiwodschaft',
 'Pommern',
 '.']